# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*.swp

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

*.sql

# Ignore generated Makefiles in build directories (not root Makefile)
build/Makefile
*/build/Makefile
*.control
*.h
generate_windows/postgresExeExports.def
install-*.sh
tasklist.md
.idea